version: '3.9'
services:
  jenkins-docker:
    image: docker:dind
    privileged: true
    ports:
      - 3000:3000
      - 2376:2376
    container_name: jenkins-docker
    environment:
      DOCKER_TLS_CERTDIR: '/certs'
    volumes:
      - jenkins-docker-certs:/certs/client:rw
      - jenkins-data:/var/jenkins_home:rw

    networks:
      jenkins:
        aliases:
          - docker

  jenkins-blueocean:
    image: oabuoun/jenkins-blueocean:latest
    ports:
      - 8080:8080
      - 50000:50000
    container_name: jenkins-blueocean

    environment:
      DOCKER_HOST: 'tcp://docker:2376'
      DOCKER_CERT_PATH: '/certs/client'
      DOCKER_TLS_VERIFY: 1

    volumes:
      - jenkins-data:/var/jenkins_home:rw
      - jenkins-docker-certs:/certs/client:ro
      - type: bind
        source: "$HOME"
        target: /home


    networks:
      jenkins:
        aliases:
          - docker

networks:
  jenkins:

volumes:
  jenkins-docker-certs:
  jenkins-data:
